@font-face {
  font-family: 'bebas_neueregular';
  src: url("../fonts/BEBAS___.ttf");
  font-weight: normal;
  font-style: normal;
}
#map {
  height: 300px;
  border: 1px solid #faa74b;
}
.ui-datepicker {
  width: 216px;
  height: auto;
  left: 380px !important;
  top: 270px !important;
  margin: 5px auto 0;
  font-family: 'bebas_neueregular';
  font-size: 9pt;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.ui-datepicker a {
  text-decoration: none;
}
.ui-datepicker table {
  width: 100%;
}
.ui-datepicker thead {
  background: #f7f7f7;
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 0%);
  background: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 0%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 0%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 0%);
  background: linear-gradient(top, #f7f7f7 0%, #f1f1f1 0%);
  border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
  text-align: center;
  text-transform: uppercase;
  font-size: 8pt;
  padding: 5px 0;
  color: #faa74b;
  text-shadow: 1px 0px 0px #fff;
}
.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
  border-right: 0px;
}
.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666;
  text-shadow: 1px 1px 0px #fff;
}
.ui-datepicker-header {
  color: #fff;
  background-color: #242059;
  font-weight: 700;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
  text-shadow: 1px -1px 0px #000;
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgba(1,83,165,0.5);
}
.ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 600%;
  overflow: hidden;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: "";
  position: absolute;
  top: calc(30px * 23.33 / 100);
  left: calc(30px * 23.33 / 100);
  width: calc(25.981px * 53.33 / 100);
  height: calc(30px * 53.33 / 100);
  border-top: solid calc(15px * 53.33 / 100) transparent;
  border-bottom: solid calc(15px * 53.33 / 100) transparent;
  transition: all 0.3s;
}
.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-prev:after {
  border-right: solid calc(25.981px * 53.33 / 100) #fff;
}
.ui-datepicker-prev:hover:after,
.ui-datepicker-prev:focus:after {
  border-right-color: #faa74b;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}
.ui-datepicker-next:after {
  border-left: solid calc(25.981px * 53.33 / 100) #fff;
}
.ui-datepicker-next:hover:after,
.ui-datepicker-next:focus:after {
  border-left-color: #faa74b;
}
.ui-datepicker-calendar .ui-state-default {
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,0.5);
  box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,0.5);
  background: #ededed;
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 0%);
  background: -moz-linear-gradient(top, #ededed 0%, #dedede 0%);
  background: -ms-linear-gradient(top, #ededed 0%, #dedede 0%);
  background: -o-linear-gradient(top, #ededed 0%, #dedede 0%);
  background: linear-gradient(top, #ededed 0%, #dedede 0%);
}
.ui-datepicker-calendar .ui-state-hover {
  background: #faa74b;
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(102,102,102,0.5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(102,102,102,0.5);
  box-shadow: inset 1px 1px 0px 0px rgba(102,102,102,0.5);
  text-shadow: 0px 1px 0px #000;
  color: #fff;
}
.ui-datepicker-calendar .ui-state-active {
  background: #242059;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
  color: #fff;
  text-shadow: 0px 1px 0px #000;
  border: 1px solid #0153a5;
  position: relative;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}
@media (min-width: 992px) {
  #news .box-text-news {
    padding-right: 50px;
  }
  #galery .box-hostel-desc {
    padding-right: 50px;
  }
}
body {
  background-image: url("../images/background2.png");
  background-size: cover;
}
.box-shadow {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.section-border-top {
  border-top: 1px solid #0153a5;
}
.box-primario {
  text-align: center;
}
.box-primario .box-titulo-primario {
  display: inline-block;
  border-bottom: 2px solid #faa74b;
  margin-bottom: 10px;
}
.box-primario .box-titulo-primario h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #242059;
}
.flag {
  width: 23px;
}
.flag-container a {
  padding: 15px 0px 10px 15px !important;
}
.navbar {
  height: 80px;
  background-color: rgba(255,255,255,0.9);
  background-image: url("../images/nav2.png");
  background-size: cover;
  border-color: transparent;
  z-index: 1;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.collapse ul li {
  padding-top: 13px;
}
.nav-item {
  color: #fff !important;
  font-size: 20px;
  text-shadow: 0px 0px 3px #000;
  font-family: 'bebas_neueregular';
  transition: all 0.3s;
}
.nav-item:hover,
.nav-item:focus {
  color: #faa74b !important;
}
#logo {
  padding: 0px !important;
}
#logo a {
  padding: 0px !important;
}
#logo a img {
  width: 10vw;
}
.box-reserva {
  position: fixed;
  width: 300px;
  padding: 0 0 40px 0;
  left: 5vw;
  top: 23vh;
  background-color: rgba(255,255,255,0.8);
  z-index: 2;
  border: solid 1px rgba(36,32,89,0.5);
  visibility: hidden;
  display: none !important;
}
.box-reserva .box-img {
  width: 100%;
  padding: 5% 15px 20px 15px;
}
.box-reserva .box-check {
  width: 100%;
  height: 100px;
  padding: 0 15px;
  display: block;
}
.box-reserva .box-check .check-in {
  border-right: solid 1px #faa74b;
}
.box-reserva .box-check .check-in,
.box-reserva .box-check .check-out {
  position: relative;
  background-color: rgba(255,255,255,0.4);
  padding: 10px 15px;
}
.box-reserva .box-check .check-in:hover .fecha p,
.box-reserva .box-check .check-out:hover .fecha p,
.box-reserva .box-check .check-in:focus .fecha p,
.box-reserva .box-check .check-out:focus .fecha p,
.box-reserva .box-check .check-in:hover .dia p,
.box-reserva .box-check .check-out:hover .dia p,
.box-reserva .box-check .check-in:focus .dia p,
.box-reserva .box-check .check-out:focus .dia p,
.box-reserva .box-check .check-in:hover .fecha span,
.box-reserva .box-check .check-out:hover .fecha span,
.box-reserva .box-check .check-in:focus .fecha span,
.box-reserva .box-check .check-out:focus .fecha span,
.box-reserva .box-check .check-in:hover .dia span,
.box-reserva .box-check .check-out:hover .dia span,
.box-reserva .box-check .check-in:focus .dia span,
.box-reserva .box-check .check-out:focus .dia span {
  color: #faa74b;
}
.box-reserva .box-check .check-in input,
.box-reserva .box-check .check-out input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}
.box-reserva .box-check span {
  display: block;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  text-align: center;
  color: #242059;
  border-bottom: solid 1px #faa74b;
}
.box-reserva .box-check .fecha,
.box-reserva .box-check .dia {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  float: left;
  padding: 6px 5px;
}
.box-reserva .box-check .fecha p,
.box-reserva .box-check .dia p {
  font-size: 30px;
  font-weight: 700;
  color: #242059;
  letter-spacing: -1px;
  line-height: 27px;
  text-align: right;
  margin-bottom: 0;
  transition: all 0.3s;
}
.box-reserva .box-check .fecha span,
.box-reserva .box-check .dia span {
  font-size: 14px;
  font-weight: 700;
  color: #242059;
  letter-spacing: -1px;
  line-height: 13px;
  text-align: center;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: all 0.3s;
}
.box-reserva .box-check .fecha span:first-child,
.box-reserva .box-check .dia span:first-child {
  font-size: 12px;
}
.box-reserva .box-botton {
  position: relative;
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin: 10px 15px 0 15px;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  background-color: #faa74b;
}
.box-reserva .box-botton:hover,
.box-reserva .box-botton:focus {
  background-color: #242059;
  color: #fff;
}
.box-reserva .box-botton input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}
#location {
  padding: 100px 0;
}
#location h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #242059;
  margin-top: 10px;
}
#location .playa-loc {
  padding: 7px 0 5px;
}
#location .playa-loc h5 {
  color: #242059;
  font-weight: 700;
  margin-bottom: 5px;
}
#location .playa-loc span {
  color: #000;
  display: block;
}
#location .playa-loc span i {
  color: #faa74b;
  margin-right: 10px;
  width: 12px;
}
#location .playa-loc span a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
#location .playa-loc span a:hover {
  color: #faa74b;
}
#news {
  padding: 100px 0;
  background-color: #fff;
}
#news h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #242059;
  margin-bottom: 0;
}
#news span {
  display: block;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  color: #faa74b;
  margin-bottom: 20px;
}
#news span i {
  margin-right: 5px;
  width: 12px;
}
#news p {
  color: #000;
  font-size: 15px;
  text-align: justify;
}
#news .pager {
  margin: 40px 0 50px;
}
#news .pager li a {
  color: #faa74b;
  background-color: #fff;
  border: 1px solid #faa74b;
  border-radius: 15px;
  transition: all 0.3s;
  width: 87px;
}
#news .pager li a:hover,
#news .pager li a:focus {
  color: #fff;
  background-color: #242059;
  border: 1px solid #242059;
}
#news .box-img {
  border: 1px solid #faa74b;
}
#contact_form {
  margin-top: 15%;
}
#success_message {
  display: none;
}
#input-fecha-check-in,
#input-fecha-check-out {
  position: absolute;
}
.box-check {
  width: 100%;
  height: 100px;
  padding: 0 15px;
  display: block;
}
.box-check .check-in {
  border-right: solid 1px #faa74b;
}
.box-check .check-in,
.box-check .check-out {
  position: relative;
  background-color: rgba(255,255,255,0.4);
  padding: 10px 15px;
}
.box-check .check-in:hover .fecha p,
.box-check .check-out:hover .fecha p,
.box-check .check-in:focus .fecha p,
.box-check .check-out:focus .fecha p,
.box-check .check-in:hover .dia p,
.box-check .check-out:hover .dia p,
.box-check .check-in:focus .dia p,
.box-check .check-out:focus .dia p,
.box-check .check-in:hover .fecha span,
.box-check .check-out:hover .fecha span,
.box-check .check-in:focus .fecha span,
.box-check .check-out:focus .fecha span,
.box-check .check-in:hover .dia span,
.box-check .check-out:hover .dia span,
.box-check .check-in:focus .dia span,
.box-check .check-out:focus .dia span {
  color: #faa74b;
}
.box-check .check-in input,
.box-check .check-out input {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}
.box-check span {
  display: block;
  text-transform: uppercase;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  text-align: center;
  color: #242059;
  border-bottom: solid 1px #faa74b;
}
.box-check .fecha,
.box-check .dia {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  float: left;
  padding: 6px 5px;
}
.box-check .fecha p,
.box-check .dia p {
  font-size: 30px;
  font-weight: 700;
  color: #242059;
  letter-spacing: -1px;
  line-height: 27px;
  text-align: right;
  margin-bottom: 0;
  transition: all 0.3s;
}
.box-check .fecha span,
.box-check .dia span {
  font-size: 14px;
  font-weight: 700;
  color: #242059;
  letter-spacing: -1px;
  line-height: 13px;
  text-align: center;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: all 0.3s;
}
.box-check .fecha span:first-child,
.box-check .dia span:first-child {
  font-size: 12px;
}
#galery {
  padding: 100px 0;
}
#galery .box-hostel-titulo {
  margin: 40px 0;
}
#galery .box-hostel-titulo .box-titulo {
  width: 100%;
  height: 60px;
  background-color: #242059;
  border: 1px solid #242059;
  cursor: pointer;
  transition: all 0.3s;
}
#galery .box-hostel-titulo .box-titulo h3 {
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin: 0;
  padding: 0 20px;
  font-weight: 700;
  text-transform: uppercase;
}
#galery .box-hostel-titulo .box-titulo h3 i {
  float: right;
  line-height: 60px;
}
#galery .box-hostel-titulo .box-titulo:hover,
#galery .box-hostel-titulo .box-titulo:focus {
  background-color: #fff;
  border: 1px solid #faa74b;
}
#galery .box-hostel-titulo .box-titulo:hover h3,
#galery .box-hostel-titulo .box-titulo:focus h3 {
  color: #faa74b;
}
#galery .box-hostel-titulo .box-descripcion {
  padding: 10px 10px 0;
  background-color: #fff;
  border: 1px solid #faa74b;
  border-top: none;
}
#galery .box-hostel-titulo .box-descripcion p {
  text-align: justify;
}
#galery .box-img {
  border: 1px solid #faa74b;
  margin-top: 40px;
}
#galery .pager .previous a,
#galery .pager .next a {
  margin: 9.5px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}
#galery .pager .previous a i,
#galery .pager .next a i {
  color: #faa74b;
  transition: all 0.3s;
}
#galery .pager .previous a:hover i,
#galery .pager .next a:hover i {
  color: #242059;
}
#galery .pager .pager-galery {
  margin: 0;
}
#galery .pager .pager-galery li a {
  padding: 0;
  margin: 0 2.5px;
  border: 1px solid #faa74b;
  border-radius: 0 !important;
  width: 50px;
  height: 50px;
}
#galery .pager .pager-galery li a img {
  width: 100%;
  height: 100%;
}
