/*@keyframes fadeIn
  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fadeInDown
  0%
    opacity: 0
    transform: translateY(-20px)

  100%
    opacity: 1
    transform: translateY(0)

@keyframes fadeOut
  0%
    opacity: 1

  100%
    opacity: 0

@keyframes fadeOutUp
  0%
    opacity: 1
    transform: translateY(0)

  100%
    opacity: 0
    transform: translateY(-20px)

.fadeOutUp
  animation-name: fadeOutUp
  animation-duration: 1s
  animation-fill-mode: both */
  
.slideInDown
	animation-name slideInDown
	animation-duration 1.5s
	animation-fill-mode both
	animation-iteration-count 1
	animation-timing-function ease-out
 
.slideOutUp
  animation-name slideOutUp
  animation-duration 1.5s
  animation-fill-mode both
  animation-iteration-count 1
  animation-timing-function ease-in
  
.bounceInRight
  animation-name bounceInRight
  animation-duration 1s
  animation-fill-mode both
  animation-iteration-count 1
  
.bounceInLeft
  animation-name bounceInLeft
  animation-duration 1s
  animation-fill-mode both
  animation-iteration-count 1
  
.flipInX
  backface-visibility visible !important
  animation-name flipInX
  animation-fill-mode both
  animation-duration 1s
  animation-iteration-count 1
  
.flipOutX
  backface-visibility visible !important
  animation-name flipOutX
  animation-fill-mode both
  animation-duration 1s
  animation-iteration-count 1
  
@keyframes zoomIn
  from
    opacity 0
    transform scale3d(0.3, 0.3, 0.3)

  50%
    opacity 1

@keyframes slideInDown
	0%
		opacity 0
		transform translateY(-1000px)
	100%
		transform translateY(0)
  
@keyframes slideOutUp
  0%
    transform translateY(0)

  100%
    opacity 0
    transform translateY(-1000px)
    
@keyframes bounceInRight
  0%
    opacity 0
    transform translateX(2000px)

  60%
    opacity 1
    transform translateX(-30px)

  80%
    transform translateX(10px)

  100%
    transform translateX(0)
    
@keyframes bounceInLeft
  0%
    opacity 0
    transform translateX(-2000px)

  60%
    opacity 1
    transform translateX(30px)

  80%
    transform translateX(-10px)

  100%
    transform translateX(0)
    
@keyframes flipInX
  from
    transform perspective(400px) rotate3d(1, 0, 0, -90deg)
    animation-timing-function ease-in

  40%
    transform perspective(400px) rotate3d(1, 0, 0, 20deg)
    animation-timing-function ease-in

  60%
    transform perspective(400px) rotate3d(1, 0, 0, -10deg)

  80%
    transform perspective(400px) rotate3d(1, 0, 0, 5deg)

  to
    transform perspective(400px)
    
@keyframes flipOutX
  from
    transform perspective(400px)

  30%
    transform perspective(400px) rotate3d(1, 0, 0, -20deg)

  to
    transform perspective(400px) rotate3d(1, 0, 0, 90deg)