@font-face
	font-family 'bebas_neueregular'
	src url('../fonts/BEBAS___.ttf')
	font-weight normal
	font-style normal

@font-face
	font-family 'Raleway'
	src url('../fonts/Raleway-Regular.ttf')
	font-style normal
	font-weight 400

@font-face
	font-family 'OpenSans'
	src url('../fonts/OpenSans-CondLight.ttf')
