#map
  height 300px
  border 1px solid $orange

  h4
    font-family 'OpenSans'
    font-weight 700
		color $blue

.gmnoprint
  a
  span
    display none

// .gm-svpc
.gm-style-cc
// .gm-style-mtc
  display none
