@media (max-width: 767px)
	#logo
		position absolute
		top: 0
		
	.navbar-collapse
		padding 0
		border-top 4px solid transparent !important
		border-bottom 4px solid $orange !important
		
		ul
			z-index 4
			width 100%
			margin-top 0px
			margin-bottom 0px
			background-color rgba($white, 0.4) !important
			
			li
				padding-top 0px !important
				border none !important
				border-radius 0px !important
				
				&.flag-container
					display inline-block
					width 75px
					border-top 2px solid $orange !important
					
					a
						padding 10px 15px !important
						
				&:last-child
					margin-left -3px
		
@media (min-width: 768px)
	.collapse
		float right !important
		
		ul
			
			li
				
				&:nth-last-child(2)
					
					a
						border-left 2px solid $orange

@media (min-width: 768px) and (max-width: 991px)
	#logo
		padding 13px 5px !important

	.collapse
		ul
			li
				a
					padding 10px 4px !important
					line-height 16px
					font-size 16px
					
@media (min-width: 992px)
	#news
		
		.box-text-news
			padding-right 50px
			
	#galery
		
		.box-hostel-desc
			padding-right 50px
			
@media (min-width: 992px) and (max-width: 1199px)
	.collapse
		ul
			li
				a
					padding 10px 7px !important
					line-height 18px
					font-size 18px
					
@media (min-width: 1200px)
	.collapse
		ul
			li
				a
					padding 10px !important