.parallax-servicios
    background-image url("../images/parallax/parallax-servicios.jpg")
    min-height 700px
    background-attachment fixed
    background-position center
    background-repeat no-repeat
    background-size cover

.parallax-background
  padding-bottom 100px
  background-color rgba($black, 0.6)
