$blue = #242059
$orange = #FAA74B
$light-orange = #FA8F18
$light-blue = #66a8bd
$white = #FFFFFF
$black = #000000
$grey-sections = #3F3E40
$medium-blue = #006d90

// gamma gray
$grey-1 = #BBBBBB
$grey-2 = #F4F4F4
$grey-3 = #B4B3B3
$grey-97 = #F7F7F7
$grey-97f = #F1F1F1
$grey-40 = #666666
$grey-93 = #EDEDED
$grey-87 = #DEDEDE
$dark-grey = #231f20
