footer
	padding 20px 0px
	background-color $medium-blue
	
	.copyr
	.powered
		padding 0 !important
		
	.copyr
		text-align left
		line-height 50px
		
		img
			display inline-block
		
		p
			font-size 16px
			color $white
			display inline-block
			
			span
				font-weight 700
			
		
	.powered
		text-align right
		line-height 50px
		
		span
			font-size 16px
			color $white
			
			a
				color $orange
				text-decoration none
				transition all 0.3s
				font-weight 700
				
				&:hover
				&:focus
					color $blue

// @media (max-width: 991px) {
// 	#contact .form-group.col-md-6{
// 		padding-left: 0px !important;
// 		padding-right: 0px !important;
// 	}
//
// 	footer .powered{
// 		font-size: 13px;
// 		margin: 4px 0 12px !important;
// 		text-align: center !important;
// 	}
//
// 	footer .copyr{
// 		font-size: 13px;
// 		margin: 12px 0 4px !important;
// 		text-align: center !important;
// 	}
// }
