#reservation
	
	form
		border-color $orange
		
		legend
			color $blue
			text-transform uppercase
			font-weight 700
			border-bottom-color $orange

#contact_form
	margin-top 15%
#success_message
	display none