#reservation
	
	form
		border-color $orange
		
		legend
			color $blue
			text-transform uppercase
			font-weight 700
			border-bottom-color $orange

#contact_form
	margin-top 15%
#success_message
	display none

#input-fecha-check-in
#input-fecha-check-out

.box-check
	width 100%
	height 100px
	padding 0 15px
	display block

	.check-in
		border-right solid 1px rgba($orange, 1)

	.check-in
	.check-out
		position relative
		background-color rgba($white, 0.4)
		padding 10px 15px

		&:hover
		&:focus

			.fecha
			.dia

				p
				span
					color $orange

		input
			position absolute
			cursor pointer
			top 0
			left 0
			width 100%
			height 100%
			opacity 0
			z-index 10

	span
		display block
		text-transform uppercase
		padding-bottom 3px
		font-size 12px
		font-weight 700
		margin-bottom 3px
		text-align center
		color $blue
		border-bottom solid 1px rgba($orange, 1)

	.fecha
	.dia
		display inline-block
		vertical-align middle
		width 50%
		float left
		padding 6px 5px

		p
			font-size 30px
			font-weight 700
			color $blue
			letter-spacing -1px
			line-height 27px
			text-align right
			margin-bottom 0
			transition all 0.3s

		span
			font-size 14px
			font-weight 700
			color $blue
			letter-spacing -1px
			line-height 13px
			text-align center
			border-bottom none
			padding-bottom 0
			margin-bottom 0
			transition all 0.3s

			&:first-child
				font-size 12px
