#galery
	background-color $grey-sections
	padding 100px 0

	.box-hostel-titulo
		//overflow hidden
		margin 40px 0
		//height 60px

		.box-titulo
			width 100%
			height 60px
			background-color $blue
			border 1px solid $blue
			cursor pointer
			transition all 0.3s

			h3
				color $white
				text-align center
				line-height 60px
				margin 0
				padding 0 20px
				font-weight 700
				text-transform uppercase

				i
					float right
					line-height 60px

			&:hover
			&:focus
				background-color $white
				border 1px solid $orange

				h3
					color $orange

		.box-descripcion
			padding 10px 10px 0
			background-color $white
			border 1px solid $orange
			border-top none

			p
				text-align justify

	.box-img
		border 1px solid $orange
		margin-top 40px

	.pager

		.previous
		.next

			a
				margin 9.5px
				padding 0
				background-color transparent
				border none
				border-radius 0

				i
					color $orange
					transition all 0.3s

				&:hover

					i
						color $blue

		.pager-galery
			margin 0

			li

				a
					padding 0
					margin 0 2.5px
					border 1px solid $orange
					border-radius 0 !important
					width 50px
					height 50px

					img
						width 100%
						height 100%
