.flag
	width 23px

.flag-container
	
	a
		padding 15px 0px 10px 15px !important
		
.navbar
	height 80px
	background-color rgba($white, 0.9)
	background-image url('../images/nav2.png')
	background-size cover
	border-color transparent
	z-index 1
	
	.navbar-nav
		display inline-block
		float none
		vertical-align top
		
	.navbar-collapse
		text-align center
		
.collapse
	
	ul
		
		li
			padding-top 13px
			
.nav-item
	color $white !important
	font-size 20px
	text-shadow 0px 0px 3px $black
	font-family 'bebas_neueregular'
	
#logo
	padding 0px !important
	
	a
		padding 0px !important
		
		img
			width 10vw

.box-reserva
	position fixed
	width 300px
	height 60%
	left 5vw
	top 18vh
	background-color rgba($white, 0.8)
	z-index 2
	
	.box-img
		width 100%
		padding 5% 15px 0 15px
		
	.box-fecha
		width 100%
		
		span
			display block
			text-transform uppercase
			padding-bottom 3px
			font-size 10px
			margin-bottom 3px
			text-align center
			color $blue