body
	background-image url('../images/background2.png')
	background-size cover
	font-family 'Raleway'

h3
	font-family 'OpenSans'

h1
	font-family 'Raleway'
	
.none-display
	opacity 0 !important
	visibility hidden !important

.box-shadow
	box-shadow 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important

.section-border-top
	border-top 1px solid $light-blue

.box-primario
	text-align center
	margin-bottom 50px

	.box-titulo-primario
		display inline-block
		// border-bottom 2px solid $orange
		margin-bottom 10px

		h1
			margin-bottom 0
			text-transform uppercase
			font-weight 700
			color $white

.box-primario-orange
	text-align center

	.box-titulo-primario
		display inline-block
		border-bottom 2px solid $blue
		margin-bottom 10px

		h1
			margin-bottom 0
			text-transform uppercase
			font-weight 700
			color $orange

.btn-enviar-blue
	color $white
	background-color $blue
	border-color $light-blue
	transition all 0.3s

	&:hover
	&:focus
		color $white
		background-color $light-blue
		border-color $blue

.btn-enviar-orange
	color $white
	background-color $orange
	border-color $light-orange
	transition all 0.3s

	&:hover
	&:focus
		color $white
		background-color $light-orange
		border-color $orange

form

	&.form-orange

		input
		textarea
		select

			&:focus
				border-color $light-orange

	&.form-blue

		input
		textarea
		select

			&:focus
				border-color $light-blue
