#news
	padding 100px 0
	background-color $white

	h1
		color $blue

	h3
		text-transform uppercase
		font-weight 700
		color $blue
		margin-bottom 0

	span
		display block
		font-size 13px
		font-style italic
		font-weight bold
		color $orange
		margin-bottom 20px

		i
			margin-right 5px
			width 12px

	p
		color $black
		font-size 15px
		text-align justify

	.pager
		margin 40px 0 50px

		li
			a
				color $orange
				background-color $white
				border 1px solid $orange
				border-radius 15px
				transition all 0.3s
				width 87px

				&:hover
				&:focus
					color $white
					background-color $blue
					border 1px solid $blue

	.box-img
		border 1px solid $orange
