#services
	padding 100px 0
	background-color $grey-sections
			
	.box-servicios
		background-color $orange
		border-radius 5px
		margin-bottom 50px
		padding 20px 20px 0
		
		.servicios
			height 52px
			display flex
			justify-content center
			align-items center
			margin-bottom 20px
			
			span
				width calc(100% - 52px)
				font-size 18px
				display inline-block
				color $white
				font-weight 700
				text-shadow 2px 2px $light-orange
				line-height 26px
				
			img
				background-color $white
				border-radius 100%
				border 2px solid $light-orange
				
			&.servicios-left
				
				span
					text-align left
					padding-left 10px
					
			&.servicios-right
				
				span
					text-align right
					padding-right 10px