.tarifa
  width: 100%

#tarifas
  padding: 100px 0
  background-color $grey-sections

#carousel-tarifas
  margin 30px 0 30px 0
  padding 0 10% 0 10%

.carousel-control
  background-color transparent !important
  opacity: 1
  background-image: none !important
